body{
    background:#f0f8ff;
    font-family:Arial;
    text-align:center;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}

#log{
    margin-top:20px;
    border:1px solid gray;
    height:250px;
    overflow:auto;
    background:white;
    padding:10px;
}
