body {
    background-image: url("bg.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.voxel-white {
    color: white;
    background-color: gold;
}

.explore-box {
    background-color: #16242f;
    color: white;
    width: 350px;
    padding: 20px;
}

/* ☁️ 這是第一朵雲的設定 */
.cloud-1 {
    /* 直接抓線上優化過的雲朵圖網址 */
    background-image: url("https://images.unsplash.com/photo-1534088568595-a066f410bcda?q=80&w=600&auto=format&fit=crop"); 
    
    width: 280px;          /* 雲朵寬度 */
    height: 180px;         /* 雲朵高度 */
    background-size: cover;/* 讓圖片填滿這個框框 */
    
    /* 讓雲朵飄在城堡上空的定位 */
    position: absolute;   
    top: 60px;             /* 距離網頁頂端 60 像素 */
    left: 450px;           /* 距離網頁左邊 450 像素 */
    z-index: 999;          /* 強制讓雲朵顯示在最上層 */
}
