body {
    background-image: url("bg.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.voxel-white {
    color: white;
    background-color: gold;
}

.explore-box {
    background-color: #16242f;
    color: white;
    width: 350px;
    padding: 20px;
}
.cloud-1 {
    background-image: url("F733F425-1E3A-4033-AC59-1D885F7AFB45.png"); 
    
    width: 280px;          
    height: 180px;         
    background-size: no-repect;
    background-position: 30px 70px; 
    position: absolute;   
    top: 60px;             
    left: 450px;           
    z-index: 2;          
}
