body {
    background-image: url("bg.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.team-name {
    width: 280px;          
    height: 180px;         
    background-size: no-repect;
    position: absolute;
    top: 60px;             
    left: 450px;           
    z-index: 2;
}

.explore-box {
    color: white;
    width: 200px;
    padding: 10px;
}
.level-n {
    color: white;
}
.cloud-1 {
    background-image: url("F733F425-1E3A-4033-AC59-1D885F7AFB45.png"); 
    
    width: 280px;          
    height: 180px;         
    background-size: no-repect;
    background-position: -22px -96px; 
    position: absolute;
    top: 60px;             
    left: 450px;           
    z-index: 2;          
}
